@font-face {
    font-family: 'Space Grotesk';
    src: url('./SpaceGrotesk.woff2') format('woff2');
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url('https://studywithme.io/aesthetic-pomodoro-timer/3ce5f595f1a64dc1c1ee.jpg');
    background-size: cover;
}

#timerContainer {
    display: flex; /* превращаем контейнер в flex-контейнер */
    align-items: center;
}

#timeWork, #timeDayContainer, #timerDisplay {
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    font-variant-numeric: tabular-nums;
    user-select: none;
    font-size: 70px;
    display: flex;
    align-items: center;
}

#timeWork {
    margin-right: 20px; /* увеличьте или уменьшите значение маржины по вашему усмотрению */
    margin-left: 55px;
}

#timeDayContainer {
    display: flex;
    align-items: center;
    margin-left: 525px; /* увеличьте или уменьшите значение маржины по вашему усмотрению */
}

#timeDay, #timeWork, #timeDaySeconds {
    opacity: 0.7;
}

#timeDaySeconds {
    margin-left: 8px; /* увеличьте или уменьшите значение маржины по вашему усмотрению */
    font-size: 35px;
    margin-top: 20px;
}

#timerDisplay {
    font-size: 125px;
    margin: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#buttonContainer {
    display: flex;
    justify-content: center;
}

#btnReset, #btnTimeIncrease, #btnTimeDecrease {
    border: none;
    background-color: transparent; /* делаем фон прозрачным */
}
#buttonContainer img {
    width: 40px; /* задаем ширину изображения */
    height: 40px; /* задаем высоту изображения */
    background-color: transparent; /* делаем фон прозрачным */
}

#btnStart {
    margin: 0 10px;
}

#btnWork, #btnBreak, #btnChill, #btnStart {
    border-radius: 25px;
    height: 45px;
    width: 115px;
    outline: none;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    font-size: 25px;
}

#btnReset, #btnTimeIncrease, #btnTimeDecrease, #btnStart {
    margin-top: 45px;
}

#btnWork, #btnBreak, #btnChill {
    height: 35px;
    width: 96px;
    font-size: 20px;
}

button:hover {
    opacity: 0.7;
}

button {
    transition: opacity 0.3s ease;
    cursor: pointer;
}

#buttonContainerTop button {
    margin: 45px 7px;
}

button:active {
    background-color: #d0d0d0;
}

button:active img {
    filter: brightness(0.9);
}

#btnReset img {
    transition: transform 0.3s ease;
}

#btnReset:active img {
    transform: rotate(360deg);
}

button.select {
    border: none;
    color: black;
}

button.unselect {
    background-color: rgba(255, 255, 255, 0.119);
    border: 1px solid white;
    color: white;
}

